/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

// ! CODEMIRROR Dependencies
@use 'codemirror/lib/codemirror';
@use 'codemirror/theme/material-palenight';
// ! END CODEMIRROR Dependencies

@use 'drag-preview';
// @use 'ngx-editor-js2-blockquotes-drag-preview.scss';
// @use 'ngx-editor-js2-codemirror-drag-preview.scss';
// @use 'ngx-editor-js2-pop-quiz-drag-preview.scss';
// @use 'ngx-editor-js2-image-drag-preview.scss';
// @use 'ngx-editor-js2-mfe-loader-drag-preview.scss';
// @use 'ngx-editor-js2-mermaidjs-drag-preview.scss';
// @use 'ngx-editor-js2-panel-drag-preview.scss';

// @include mat.all-component-densities(-1); // Applies density to all components

.cm-editor {
  font-family: Cascadia Code, Fira Code, Menlo, Monaco, 'Courier New', monospace;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.5px;
}

.ngx-editor-js2-block.cdk-drag-preview,
.ngx-editor-js2-block {
  --mat-sys-body-large: 400 1.25rem / 1.75rem Roboto;
  --mat-sys-body-large-font: Roboto;
  --mat-sys-body-large-line-height: 1.75rem;
  --mat-sys-body-large-size: 1.25rem;
  --mat-sys-body-large-tracking: 0.031rem;
  --mat-sys-body-large-weight: 400;
  --mat-sys-body-medium: 400 1rem / 1.5rem Roboto;
  --mat-sys-body-medium-font: Roboto;
  --mat-sys-body-medium-line-height: 1.5rem;
  --mat-sys-body-medium-size: 1rem;
  --mat-sys-body-medium-tracking: 0.031rem;
  --mat-sys-body-medium-weight: 400;
  --mat-sys-body-small: 400 0.875rem / 1.25rem Roboto;
  --mat-sys-body-small-font: Roboto;
  --mat-sys-body-small-line-height: 1.25rem;
  --mat-sys-body-small-size: 0.875rem;
  --mat-sys-body-small-tracking: 0.016rem;
  --mat-sys-body-small-weight: 400;

  --mat-sys-display-large: 400 2.562rem / 3rem Roboto;
  --mat-sys-display-large-font: Roboto;
  --mat-sys-display-large-line-height: 3rem;
  --mat-sys-display-large-size: 2.562rem;
  --mat-sys-display-large-tracking: -0.016rem;
  --mat-sys-display-large-weight: 400;
  --mat-sys-display-medium: 400 1.812rem / 2.25rem Roboto;
  --mat-sys-display-medium-font: Roboto;
  --mat-sys-display-medium-line-height: 2.25rem;
  --mat-sys-display-medium-size: 1.812rem;
  --mat-sys-display-medium-tracking: 0;
  --mat-sys-display-medium-weight: 400;
  --mat-sys-display-small: 400 1.25rem / 1.75rem Roboto;
  --mat-sys-display-small-font: Roboto;
  --mat-sys-display-small-line-height: 1.75rem;
  --mat-sys-display-small-size: 1.25rem;
  --mat-sys-display-small-tracking: 0;
  --mat-sys-display-small-weight: 400;

  --mat-sys-headline-large: 400 2rem / 2.5rem Roboto;
  --mat-sys-headline-large-font: Roboto;
  --mat-sys-headline-large-line-height: 2.5rem;
  --mat-sys-headline-large-size: 2rem;
  --mat-sys-headline-large-tracking: 0;
  --mat-sys-headline-large-weight: 400;
  --mat-sys-headline-medium: 400 1.75rem / 2.25rem Roboto;
  --mat-sys-headline-medium-font: Roboto;
  --mat-sys-headline-medium-line-height: 2.25rem;
  --mat-sys-headline-medium-size: 1.75rem;
  --mat-sys-headline-medium-tracking: 0;
  --mat-sys-headline-medium-weight: 400;
  --mat-sys-headline-small: 400 1.5rem / 2rem Roboto;
  --mat-sys-headline-small-font: Roboto;
  --mat-sys-headline-small-line-height: 2rem;
  --mat-sys-headline-small-size: 1.5rem;
  --mat-sys-headline-small-tracking: 0;
  --mat-sys-headline-small-weight: 400;

  --mat-sys-label-large: 500 0.875rem / 1.25rem Roboto;
  --mat-sys-label-large-font: Roboto;
  --mat-sys-label-large-line-height: 1.25rem;
  --mat-sys-label-large-size: 0.875rem;
  --mat-sys-label-large-tracking: 0.006rem;
  --mat-sys-label-large-weight: 500;
  --mat-sys-label-large-weight-prominent: 700;
  --mat-sys-label-medium: 500 0.75rem / 1rem Roboto;
  --mat-sys-label-medium-font: Roboto;
  --mat-sys-label-medium-line-height: 1rem;
  --mat-sys-label-medium-size: 0.75rem;
  --mat-sys-label-medium-tracking: 0.031rem;
  --mat-sys-label-medium-weight: 500;
  --mat-sys-label-medium-weight-prominent: 700;
  --mat-sys-label-small: 500 0.688rem / 1rem Roboto;
  --mat-sys-label-small-font: Roboto;
  --mat-sys-label-small-line-height: 1rem;
  --mat-sys-label-small-size: 0.688rem;
  --mat-sys-label-small-tracking: 0.031rem;
  --mat-sys-label-small-weight: 500;

  --mat-sys-title-large: 400 1.375rem / 1.75rem Roboto;
  --mat-sys-title-large-font: Roboto;
  --mat-sys-title-large-line-height: 1.75rem;
  --mat-sys-title-large-size: 1.375rem;
  --mat-sys-title-large-tracking: 0;
  --mat-sys-title-large-weight: 400;
  --mat-sys-title-medium: 500 1rem / 1.5rem Roboto;
  --mat-sys-title-medium-font: Roboto;
  --mat-sys-title-medium-line-height: 1.5rem;
  --mat-sys-title-medium-size: 1rem;
  --mat-sys-title-medium-tracking: 0.009rem;
  --mat-sys-title-medium-weight: 500;
  --mat-sys-title-small: 500 0.875rem / 1.25rem Roboto;
  --mat-sys-title-small-font: Roboto;
  --mat-sys-title-small-line-height: 1.25rem;
  --mat-sys-title-small-size: 0.875rem;
  --mat-sys-title-small-tracking: 0.006rem;
  --mat-sys-title-small-weight: 500;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

body.light-mode {
  color-scheme: light;
  color: var(--mat-sys-on-surface);
  background-color: var(--mat-sys-surface);
}

body.dark-mode {
  color-scheme: dark;
  color: var(--mat-sys-on-surface);
  background-color: var(--mat-sys-surface);
}

body {
  &.red-palette {
    @include mat.theme(
      (
        color: mat.$red-palette,
      )
    );
  }

  &.green-palette {
    @include mat.theme(
      (
        color: mat.$green-palette,
      )
    );
  }

  &.blue-palette {
    @include mat.theme(
      (
        color: mat.$blue-palette,
      )
    );
  }

  &.yellow-palette {
    @include mat.theme(
      (
        color: mat.$yellow-palette,
      )
    );
  }

  &.cyan-palette {
    @include mat.theme(
      (
        color: mat.$cyan-palette,
      )
    );
  }

  &.magenta-palette {
    @include mat.theme(
      (
        color: mat.$magenta-palette,
      )
    );
  }

  &.orange-palette {
    @include mat.theme(
      (
        color: mat.$orange-palette,
      )
    );
  }
  &.chartreuse-palette {
    @include mat.theme(
      (
        color: mat.$chartreuse-palette,
      )
    );
  }
  &.spring-green-palette {
    @include mat.theme(
      (
        color: mat.$spring-green-palette,
      )
    );
  }
  &.azure-palette {
    @include mat.theme(
      (
        color: mat.$azure-palette,
      )
    );
  }
  &.violet-palette {
    @include mat.theme(
      (
        color: mat.$violet-palette,
      )
    );
  }
  &.rose-palette {
    @include mat.theme(
      (
        color: mat.$rose-palette,
      )
    );
  }
}

:root {
  @include mat.dialog-overrides(
    (
      container-min-width: 320px,
      container-max-width: 700px,
    )
  );
  .snackbar-success {
    @include mat.snack-bar-overrides(
      (
        container-color: green,
      )
    );
  }
  .snackbar-failure {
    @include mat.snack-bar-overrides(
      (
        container-color: red,
      )
    );
  }
}

.flex-spacer {
  flex-grow: 1;
}

@for $i from 0 through 24 {
  .mat-elevation-z#{$i} {
    @include mat.elevation($i);
  }
}

/* Specific dialog styles */
.full-width-dialog.cdk-overlay-pane.mat-mdc-dialog-panel {
  width: 100%;
}
.mfe-preview.cdk-overlay-pane.mat-mdc-dialog-panel {
  max-width: 90vw;
}
.solid-dialog-backdrop {
  background: var(--mat-sys-background);
}
.fullscreen-dialog {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;

  width: 100vw !important;
  height: 100vh !important;

  margin: 0 !important;
  max-width: 100vw !important;
  max-height: 100vh !important;
  border-radius: 0 !important;
}
.blur-backdrop {
  background-color: rgba(0, 0, 0, 0.32);
  backdrop-filter: blur(6px);
}
